body{
	background-image: url("nkarner/0body_back.jpg");
	/* background-image: url("https://i.redd.it/3lxlwac0rfmx.png"); */
	background-attachment: fixed;

}
::-webkit-input-placeholder {
	text-align: center;
 }
pre{
	background: black;
	color: white;
	text-align: left;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: blue;
	text-decoration: underline;
}
/*<!-- _________________________SITE________________________ -->*/
.site{
	width: 1300px;
	margin: auto;
}

/*__________________________HEADER________________________*/
.header{
	padding-right:  10px;
	/* background-image: url("nkarner/header-background_imge .jpg") ; */
	border-radius: 50px;
	background-size: cover;
	display: flex;
	flex-flow: row-reverse;
	padding-bottom: 20px;
	padding-top:20px;
}
.header_img{
	width: 142px;
	position: relative;
}
.header_play{
	z-index: -1;
	width: 50px;
	top: 68px;
    left: 50px;
    position: absolute;
}
.verjin_filmer_img{
	position: absolute;
	width: 129px;
	margin-left: 9px;
	height: 200px;
	border-radius: 30px;
	overflow: auto;
	z-index: 1;
}

.logo img{
	width:  100%;
	height: 100%;
}
.logo:hover{
	opacity: 0.9;
}
.logo{
	width: 300px;
	height: 200px;
}
.verjin_filmer{
	display: flex;
	height: 200px;
}


/*_____________________________Login_____________________*/
.cen{
	width: max-content;
	margin: auto;
}
.Ldiv,.Rdiv{
	width: 430px;
	display: inline-block;
	background:white;
	text-align:center;
}
.Ldiv #lname, #lpass,#lsubmit{
	width: 250px;
	margin-top:20px;
	/* color: white; */
	/* background-color:black; */
	font-size:25px;
}
#lsubmit,#Rsubmit{
	font-size: 25px;
	background:darkcyan;
}
/*_____________________________FOOTER_____________________*/
.footer{
	text-align: center;
	background-image: url("nkarner/footer_background_image.jpg");
	background-size: 1300px 200px;

}
.footer p{
	margin: 0;
	color: white;
}

.login{
	float: right;
	background: red;
}
.Rdiv th {
	width:200px;
}
.black{
	position:absolute;
	top:0;
	left:0;
	background:rgba(41, 40, 40, 0.9);
	width:100%;
	height:100%;   
   }
.black input:first-child {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 20px;
	width: 200px;
}
.black input:last-child {
	position: absolute;
	background-color: cadetblue;
	font-size: 20px;
	left: 58%;
	top: 54%;
}
/*___________________________ARTICLE___________________-*/

.art_spisk{
	padding-bottom: 24px;
	border-bottom:5px solid azure;	
}
.art_spisk img{
	width: 200px;	
}
.art_gallery img{
	width: 250px;	

}
.art_gallery .watch{
	display: none;
}
.art_spisk .index_s_l,.index_s_r{
	display: inline-block;
	vertical-align: top;
}
.art_spisk .index_s_r{
	padding-left: 40px;
	width: 72%;
	color: white;
}
.art_gallery h2{
	margin: 8px;
}
.art_spisk .index_s_l{
	width: min-content;
	position: relative;
}
.art_spisk .none{
	display: none;
	margin: 0;
	padding: 0;
}
.art_gallery{
	position: relative;
	margin-left: 33px;
	display: inline-block;
}
.art_gallery .index_s_r{
	display: none;
}
.icon_spisk,.icon_gallery{
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-left: 10px;
}
.change_js{
	/* height: 0; */
	display: flex;
    justify-content: flex-end;
}
.icon_gallery{
	background-image: url("nkarner/gallery.png");	
}
.icon_spisk{
	height: 40px;
	background-image: url("nkarner/spisk.png");
}
.art_spisk .play{
	z-index: -1;
	position: absolute;
    top: 100px;
    width: 60px;
    left: 70px;
}
.art_gallery .play{
	z-index: -1;
	position: absolute;
    top: 145px;
    width: 60px;
    left: 98px;
}
.pages p{
	text-align: center;
}
.index_s_r h2{
	text-align: center
}
.index_s_r p {
	margin:6px 40px 6px 0;
}
.index_s_r_2,.index_s_r_1{
	width: 49.5%;
	display: inline-block;
	vertical-align: top;
}
.index_desc{
	padding-right: 50px;
	text-align: justify;
	margin-top: 20px;
}
.art_spisk .watch{
	padding: 10px;
	margin-top: -18px;
	margin-bottom: 8px;
	margin-right: 18px;
	float: right;
	border-radius: 100px;
	letter-spacing: 4px;
	cursor: pointer;
	background: #2D2F33;
}
.watch:hover{
	opacity: 0.9;
	
}
#watch{
	color: white;
	text-decoration: none;
}

.watch:active {
	transform: translateY(3px);
}

.container{
	background: rgba(10,12,122,0.3);
}


#cb{
	clear: both;
}
.film_art{
	color: white;
	border-radius: 20px;
	margin-bottom: 20px;
}
.right{
	border-left: 2px solid white;
	float: right;
	width: 30%;
}
.right_img{
	margin-left: 19px;
	height: 200px;
	position: relative;
}
.right_play{
	z-index: -1;
	width: 50px;
	top: 70px;
    left: 42px;
    position: absolute;
}
.right_imgs{
	position: absolute;
	height: 200px;
	border-radius: 30px;
	overflow: auto;
	z-index: 1;
}
.film_left,.index_left,.search{
	float: left;
	width: 69%;
}
.film_home_img img{
	display: inline-block;
	width: 200px;
}
.film_content{
	width: 65%;
	display: inline-block;
}
.film_table{
	vertical-align: top;
	text-align: left;
	display: inline-block;
	width:65%;
}
.film_table td{
	width: 170px;
}
.film_glavn{
	vertical-align: top;
	display: inline-block;
	width:34%;
}
.film_glavn img{
	width:110px;
}
.film_glavn p {
	text-align: center;

}
.film_glavn div{
	vertical-align: top;
	width:43%;
	display: inline-block;
	margin-left: 16px;
}
#film_glavn_last{
	margin-left: 32%;
}
.film_table h1,.film_glavn h1{
	text-align: center;
}
.film_table table{
	margin: auto;
}
.film_desc p {
	text-align: justify;
	padding: 0 20px 0 20px;
}
.film_home_img{
	width: max-content;
	padding: 20px 0 20px 0;
	display: inline-block;
}
.film_trailer iframe{
	width:100%;
	height:350px;
	/* margin-left: 20px; */
}
.player{
	margin-top: 30px;
	width:60%;
	margin: auto;
}
.plLeft,.plRight{
	position: relative;
	top:175px;
	border:0 solid;
	height: 50px;
	background: rgba(0,0,0,0.8);
	color:white;	
}
.plRight{
	left:90.5%;
}

/* __________________________________filmRight______________________ */
.film_r_cat1,.film_r_cat2{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.film_r_cat1 li,.film_r_cat2 li{

	list-style-type: none;
}
.film_r_cat2 ul{
	margin: 15px;
	padding: 0;
}
.film_r_cat2 span,.film_r_cat1 span{
	float: right;
}
.film_r_cat1 span{
	margin-right: 70px;
}
.film_r_cat1 td{
	width: 70px;
}
.qh{
	width: 45%;
	display: inline-block;
	margin-left: 17px;
}
.qh p{
	text-align: center;
}
.film_r_bottom p{
	margin: 0 0 10px 0 ;

}


.r_search input {
	box-sizing: border-box;
	vertical-align: top;
}


.r_search .search {
	margin-left: 40px;
	margin-top: 10px;
	padding: 0 30px;
	font-size: 15px;
	width: 60%;
	height: 40px;
	border-radius: 20px 0 0 20px;
}

.r_search .submit {
	margin-top: 10px;
	cursor: pointer;
	border: none;
	background: url('http://thesuiteworld.com/wp-admin/maint/search-icon-white-png-540.png') no-repeat center center, #1E1E20;
	background-size: 30px 30px;
	border-radius: 0 20px 20px 0;
	padding: 15px 25px;
	display: inline-block;
	width: 70px;
	height: 40px;
}

/* ______________________________SEARCH______________________________ */
.search h2,.index_left h2{
	
	color: white;
	text-align:center;
}
.img404{
    width: 600px;
    background-image: url(nkarner/404.png);
    background-size: 100% 100%;
    height: 300px;
    margin: auto;
}


.comments{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.comments textarea{
	display: block;
	min-height: 100px;
	padding: 19px 20px 0 23px;
	width: 93%;
    background: transparent;
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
	outline: none;
    border: none;
}
.textarea{
	background: white;
	overflow: auto;
	width: 76%;
	display: inline-block;
	box-shadow: 7px 12px 18px -10px black;
	border-radius: 30px;
}


.com_sub{
	float: right;
	margin-right: 111px;
	margin-top: 	11px;
	background: #6b6;
	min-width: 110px;
	box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
	height: 30px;
	font: 700 12px/1 'Open Sans', sans-serif;
	color: #fff;
}
.us_coms{
	width: 100%;
		color: black;
	background: white;
}