 body{
background-image: url("nkarner/filmer1_background_image.jpg");
background-size: cover;
background-attachment: fixed;

}
*{
font-family: 'PT Mono', monospace;

}

/*<!-- _________________________SITE________________________ -->*/
.site{
	width: 1300px;
	margin: auto;
}

/*__________________________HEADER________________________*/
.header{
	padding-right:  10px;
	background-image: url("nkarner/header-background_imge .jpg") ;
	border-radius: 50px;
	background-size: cover;
	display: flex;
	flex-flow: row-reverse;
	padding-bottom: 20px;
	padding-top:20px;
}
.verjin_filmer{
	height: 200px;
}
.verjin_filmer_img{
	width: 124px;
	margin-left: 9px;
	height: 200px;
	border-radius: 30px;
	overflow: auto;
}

/*_____________________________FOOTER_____________________*/
.footer{
	text-align: center;
	background-image: url("nkarner/footer_background_image.jpg");
	background-size: 1300px 200px;

}
.footer p{
	margin: 0;
	color: white;
}
a{
	color: white;
	text-decoration: none;
}

/*___________________________ARTICLE___________________-*/
article{
	border-radius: 20px;
	overflow: auto;
	margin-top: 20px;
	background-image: url("nkarner/film_art.jpg");

}
.inl{
	margin-left: 400px;

	display: inline-block;
}
.f_left{
	vertical-align: top;	
	display: inline-block;
	width: 19%;
	text-align: center;	
}
.f_right{
	border-left: 1px solid black;
	vertical-align: top;	
	display: inline-block;
	color: white;
	width: 80%;
}
.f_left img{
	border-radius: 20px;
}
.film_art{
	border-radius: 20px;
	overflow: auto;
	margin-bottom: 20px;
	background-image: url("nkarner/film_art.jpg");
}
.film_verev,.film_nergev{
	color: white;
}
.film_verev_img{
	display: inline-block;
	width: 20%;
}
.film_verev_h1{
	width: 79%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.film_table {
	vertical-align: top;
	text-align: left;
	width: 30%;
	display: inline-block;
	padding-left: 20px;
}
.film_table th,.film_table td{
	padding-top: 10px;

}
.film_table th{
	padding-right: 30px;
}
.film_desc{
	width: 60%;
	padding-left: 100px;
	display: inline-block;
}