
body{
	background-image: url("nkarner/filmer1_background_image.jpg");
	background-size: cover;
	background-attachment: fixed;

}
::-webkit-input-placeholder {
	text-align: center;
 }
pre{
	background: black;
}


/*<!-- _________________________SITE________________________ -->*/
.site{
	width: 1300px;
	margin: auto;
}

/*__________________________HEADER________________________*/
.header{
	padding-right:  10px;
	background-image: url("nkarner/header-background_imge .jpg") ;
	border-radius: 50px;
	background-size: cover;
	display: flex;
	flex-flow: row-reverse;
	padding-bottom: 20px;
	padding-top:20px;
}
.verjin_filmer{
	height: 200px;
}
.verjin_filmer_img{
	width: 124px;
	margin-left: 9px;
	height: 200px;
	border-radius: 30px;
	overflow: auto;
}

/*_____________________________Login_____________________*/
.cen{
	width: max-content;
	margin: auto;
}
.Ldiv,.Rdiv{
	width: 430px;
	display: inline-block;
	/* height: 200px; */
	background:white;
	text-align:center;
}
.Ldiv #lname, #lpass,#lsubmit{
	width: 250px;
	margin-top:20px;
	/* color: white; */
	/* background-color:black; */
	font-size:25px;
}
#lsubmit,#Rsubmit{
	font-size: 25px;
	background:darkcyan;
}
/*_____________________________FOOTER_____________________*/
.footer{
	text-align: center;
	background-image: url("nkarner/footer_background_image.jpg");
	background-size: 1300px 200px;

}
.footer p{
	margin: 0;
	color: white;
}
a{
	color: white;
	text-decoration: none;
}
.login{
	float: right;
	background: red;
}
.Rdiv th {
	width:200px;
}
.black{
	position:absolute;
	top:0;
	left:0;
	background:rgba(41, 40, 40, 0.9);
	width:100%;
	height:100%;   
   }
.black input:first-child {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 20px;
	width: 200px;
}
.black input:last-child {
	position: absolute;
	background-color: cadetblue;
	font-size: 20px;
	left: 58%;
	top: 54%;
}
/*___________________________ARTICLE___________________-*/
article{
	border-radius: 20px;
	overflow: auto;
	margin-top: 20px;
	background-image: url("nkarner/film_art.jpg");

}
.inl{
	margin-left: 400px;

	display: inline-block;
}
.f_left{
	vertical-align: top;	
	display: inline-block;
	width: 19%;
	text-align: center;	
}
.f_right{
	border-left: 1px solid black;
	vertical-align: top;	
	display: inline-block;
	color: white;
	width: 80%;
}
.f_left img{
	border-radius: 20px;
}
.film_art{
	color: white;
	border-radius: 20px;
	overflow: auto;
	margin-bottom: 20px;
	background-image: url("nkarner/film_art.jpg");
}
.film_right{
	float: right;
	width: 30%;
}
.film_left{
	border-right: 2px solid white;
	float: left;
	display: inline-block;
	width: 69%;
}
.film_home_img img{
	display: inline-block;
	width: 200px;
}
.film_content{
	width: 68%;
	display: inline-block;
}
.film_table{
	vertical-align: top;
	text-align: left;
	display: inline-block;
	width:60%;
}
.film_glavn{
	vertical-align: top;
	display: inline-block;
	width:30%;
}
.film_glavn img{
	width:110px;
}
.film_glavn p {
	text-align: center;

}
.film_glavn div{
	vertical-align: top;
	width:43%;
	display: inline-block;
	margin-left: 16px;
}
#film_glavn_last{
	margin-left: 32%;
}
.film_table h1{
	text-align: center;
}
.film_table a:hover{
	text-decoration: underline;
}
.film_home_img{
	width: max-content;
	padding: 20px;
	display: inline-block;
}
.film_trailer iframe{
	width:90%;
	height:350px;
	margin-left: 30px;
}